@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Dark mode scrollbar */
html.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Hide scrollbar track on idle state */
::-webkit-scrollbar-track {
  background: transparent;
}
